[Desktop Entry]
Version=1.0
Type=Application
Name=Stremio
Comment=Stremio Desktop Application
Exec=electron /home/%u/stremio/main.js
Icon=/home/%u/stremio/icon.png
Terminal=false
Categories=AudioVideo;Video;Player;
StartupNotify=true
