[Desktop Entry]
Version=1.0
Type=Application
Name=Stremio
Comment=Stremio Desktop Application
Exec=$HOME/stremio/node_modules/.bin/electron $HOME/stremio/main.js
Icon=$HOME/stremio/icon.png
Terminal=false
Categories=AudioVideo;Video;Player;
StartupNotify=true
