[Unit]
Description=Stremio Media Client
PartOf=graphical-session.target
Wants=network-online.target, graphical.target
After=network-online.target, graphical.target

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/__USER__/.Xauthority
ExecStart=/home/__USER__/Stremio-RaspberryPi/src/client-launcher.sh

WorkingDirectory=/home/__USER__/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=__USER__

[Install]
WantedBy=graphical.target
