[Unit]
Description=Stremio Media Server
PartOf=graphical-session.target
Wants=multi-user.target
After=multi-user.target

[Service]
Environment=PATH=/home/__USER__/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/__USER__/Stremio-RaspberryPi/src/server-launcher.sh

WorkingDirectory=/home/__USER__/
StandardOutput=inherit
StandardError=inherit
User=__USER__
Restart=on-failure

[Install]
WantedBy=multi-user.target
