[Unit]
Description=Stremio Media Client
Wants=network-online.target, stremio-server
After=network-online.target, stremio-server

[Service]
Environment=PATH=/home/__USER__/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/home/__USER__/Stremio-RaspberryPi/src/client-launcher.sh

WorkingDirectory=/home/__USER__/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=__USER__

[Install]
WantedBy=multi-user.target
