[Unit]
Description=Stremio Media Server
Wants=network-online.target graphical.target
After=network-online.target graphical.target

[Service]
Type=forking
ExecStart=/usr/bin/bash /home/__USER__/Stremio-RaspberryPi/src/server-launcher.sh
Restart=always

[Install]
WantedBy=default.target
